/* common start */
body{
  margin: 0;
  padding: 0;
}
/* common end */
/* header start here */
header{
  border-bottom: 2px solid #E7EEF2;
  padding: 4px 0;
}
.container{
  width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
  overflow: hidden;
}
.logo{
  width: 9%;
  /* border: 1px solid red; */
  float: left;
}
.logo img{
width: 100%;
}
.menu{
  margin-top: 5px;
width: 45%;
/* border: 1px solid red; */
float: right;
}
.menu ul{
  float: right;

}
.menu ul li{
  list-style: none;
  float: left
}
.menu ul li a{
text-decoration: none;
margin: 0 12px;
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px ;
font-weight: 400;
color: #0F2656;
}
.menu ul li:last-child a{
margin-right: 0;
}
/* header end here */
/* banner start here */
.banner{
  padding: 60px 0;
/* border-bottom: 1px solid red; */
}
.container2{
  width: 58%;
  margin: 0 auto;
  /* border: 1px solid green; */
}
.b_contant{
  text-align: center; 
  font-family:sans-serif;
}
.b_contant h1{
  font-size: 54px;
  font-weight: 700;
  color: #0F2656;
  margin: 0 0;
}
.b_contant h2{
  font-size: 52px;
  font-weight: 700;
  color: #008AFF;
  margin: 10px 0;
}
.b_contant p{
  font-size: 16px;
  font-weight: 400;
  color: #0F2656;
  line-height: 23px;
  word-spacing: 0px;
  margin-top: 0;
  margin-bottom: 15px;
}
.b_img{
  margin: 0 auto;
  width: 75%;
  /* border: 1px solid red; */
}
.b_img img{
  width: 100%;
}
/* banner end here */

/* success start here */
.success{
  padding: 60px 0;
}

.s_contant{
  overflow: hidden;
  font-family: sans-serif;

}
.s_left {
  width: 47%;
  /* border: 1px solid black; */
  float: left;
  text-align: right;
  padding: 0 0 ;
}
.s_left h2{
  font-size: 48px;
  font-weight: 700;
  color: #F15767;
  margin: 10px 0 0;

}
.s_left p{
  font-size: 17px;
  font-weight: 400;
  color: #0F2656;
  word-spacing: 1px;
  line-height: 30px;
  letter-spacing: 0px;
  margin: 10px 0 0 0;

}
.s_right {
  width: 49%;
  /* border: 1px solid black; */
  float: right;
  color: #0F2656;
}
.s_right h1 {
  font-size: 46px;
  font-weight: 700;
  color: #0F2656;
  line-height: 66px;
  margin: 0;
}
/* success end here */
/* feature starts here */
/* .feature{} */
.f_contant{
  overflow: hidden;
}
.f_single{
  width: 28%;
  /* border: 1px solid; */
  font-family: sans-serif;
  color: #0F2656;
  padding: 30px 1.5% 45px;
  float: left;
  margin-right: 2.5%;
}
.f_single:last-child{
  margin-right: 0;
}
.pink{
  background-color: #FEEBED
}
.green{
  background-color: #EBF9F4
}
.orange{
  background-color: #FFF7E8
}
/* .f_img{} */
.f_img img{
  width: 100%;
}
.f_single h2{
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;}
.f_single p{
  font-size: 16px;
  font-weight: 300;
  margin: 0;

}
/* feature end here */
/* footer starts here */
.footer p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: whitesmoke;
  background-color: #008AFF;
  text-align: center;
  padding: 20px 0;
}
.footer p a{
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
}
/* footer end here */